@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg-color: #d1d1e9;
  --btn-color: #6246ea;
  --text-color: #2b2c34;
  --heading-color: #094067;
  --btn-font: #fffffe;
  --heading-font: "Inter", sans-serif;
  --text-font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

h1 {
  text-align: center;
  font-family: var(--heading-font);
  padding: 2rem 0 4rem 0;
  font-size: 2.6rem;
  color: var(--heading-color);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  padding-bottom: 8rem;
}
