@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg-color: #d1d1e9;
  --btn-color: #6246ea;
  --text-color: #2b2c34;
  --heading-color: #094067;
  --btn-font: #fffffe;
  --heading-font: "Inter", sans-serif;
  --text-font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

h1 {
  text-align: center;
  font-family: var(--heading-font);
  padding: 2rem 0 4rem 0;
  font-size: 2.6rem;
  color: var(--heading-color);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 4rem;
  padding-bottom: 11.5rem;
  max-width: 100rem;
  margin: 0 auto;
}

/* ************ Form Inputs Styles ************** */

.cv-form {
  min-width: 45rem;
  background-color: whitesmoke;
  padding: 3rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-section-heading {
  font-family: var(--heading-font);
}

.text-input,
textarea {
  padding: 0.5rem 0.4rem;
}

textarea {
  height: 10rem;
}

/* ************ Cv Preview Styles *********** */

.cv-preview {
  min-width: 45rem;
  min-height: 65rem;
  background-color: white;
  padding: 3rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.headings-preview {
  font-family: var(--heading-font);
  font-size: 1.7rem;
  text-decoration: underline var(--heading-color);
  padding: 0 0 1rem 1.8rem;
  color: var(--heading-color);
}

.top-section {
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  height: 200px;
}

.cv-name-preview {
  font-size: 3rem;
  border-bottom: 2px solid var(--heading-color);
  color: var(--text-color);
  font-family: var(--heading-font);
  padding: 0 1.5rem 0 1.5rem;
}

.about-me-text {
  font-family: var(--text-font);
  padding: 1rem 1.5rem 0 1.5rem;
  text-wrap: balance;
}

.middle-section {
  /* background-color: aquamarine; */
  display: flex;
  height: 200px;
  margin: 2rem 0 3.1rem 0;
}

.contact-preview > span {
  color: var(--text-color);
}

.contact-preview,
.skills-preview {
  width: 50%;
  padding: 1rem;
}

.contact-preview > p,
.skills-preview > p {
  padding-left: 2.5rem;
  font-family: var(--text-font);
  line-height: 1.5;
  font-size: 1.02rem;
}

.bottom-section {
  /* background-color: bisque; */
  height: 550px;
  display: flex;
}

.education-preview {
  width: 40%;
  padding: 1rem;
}

.experience-preview {
  width: 60%;
  padding: 1rem 4rem 1rem 4rem;
}

.education-section-preview {
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--text-font);
  border-left: 3px solid var(--heading-color);
}

.school-name {
  font-weight: bold;
}

.experience-preview-section {
  border-left: 3px solid var(--heading-color);
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 2rem 0;
}

.experience-preview-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--text-font);
}

.company-name {
  font-weight: bold;
}

.experience-preview-bottom {
  padding: 0.7rem 0 0 0;
}

.experience-preview-bottom > p {
  width: 100%;
  max-height: 4rem;
  font-family: var(--text-font);
  font-size: 0.9rem;
  text-wrap: balance;
}
